@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html {
  scroll-behavior: smooth;
}

/* body {
    background-color: rgb(65, 65, 65);
} */

body {
    background-color: #171717;
}

/* Background Animation Layer */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(circle at 20% 30%, rgba(44, 171, 255, 0.125) 0%, transparent 30%),
        radial-gradient(circle at 80% 70%, rgba(241, 49, 255, 0.09) 0%, transparent 40%);
    z-index: -2;
    animation: bg-pan 15s infinite alternate;
    z-index: -2;
}

/* Keyframes for Background Animation */
@keyframes bg-pan {
    0% {
        transform: scale(1) rotate(0deg);
        transform: translateY(0px);
    }
    100% {
        transform: scale(1.4) rotate(15deg);
        transform: translateY(-125px);
    }
}

.logo_title {
    font-weight: 700;
}

.nav {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(19, 19, 19, 0.465);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
    border-bottom: 1px solid whitesmoke; */
    transition: 250ms all ease-in-out;
}

.nav.active {
    background: rgb(31, 31, 31);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
    border-bottom: 1px solid whitesmoke;
}

.nav a {
    font-size: 22px;
    color: white;
    padding: 18px;
    transition: 150ms all ease-in;
    text-decoration: none;
    user-select: none;
}

.nav a:hover {
    background-color: rgb(80, 80, 80);
}

.menu {
    display: none;
    cursor: pointer;
    margin-right: 24px;
}

.nav_mobile {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: -225px;
    height: 100%;
    width: 225px;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
    transition: 150ms all ease-in-out;
    border-left: 1px solid whitesmoke;
    overflow: hidden;
}

.nav_mobile::before {
    content: "";
    position: absolute;
    top: 0;
    width: 225px;
    right: 0px;
    height: 100%;
    width: 225px;
    background: 
        radial-gradient(circle at 20% 30%, rgba(44, 171, 255, 0.125) 0%, transparent 30%),
        radial-gradient(circle at 80% 70%, rgba(241, 49, 255, 0.125) 0%, transparent 40%);
    z-index: -15;
    animation: bg-pan 15s infinite alternate;
}

.nav_mobile.appear {
    right: 0px;
}

.nav_links_mobile {
    width: 100%;
}

.header_mobile_menu {
    background-color: rgb(35, 35, 35);
    font-weight: 700;
}

.nav_mobile a {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 22px;
    color: white;
    padding: 18px;
    transition: 150ms all ease-in;
    text-decoration: none;
    user-select: none;
}

.nav_mobile p {
    font-size: 10px;
    color: white;
    margin-bottom: 8px;
}

.nav_mobile a:hover {
    background-color: rgb(80, 80, 80);
}

.overlay_menu {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.775);
}

.overlay_menu.appear {
    display: block;
}

.movies-section {
    margin-top: 24px;
    padding: 48px;
    color: white;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 64px;
    margin-bottom: 32px;
}

.movie {
    background-color: red;
    position: relative;
    height: 345px;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
    transition: 250ms all ease-in;
    cursor: pointer;
    overflow: hidden;
}

.movie:hover {
    transform: scale(1.05);
}

.action_movie::before {
    content: '"Боевик"';
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.action_movie::after {
    content: "Экшн | 120м";
    position: absolute; 
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.comedy_movie::before {
    content: '"Комедия"';
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.comedy_movie::after {
    content: "Комедия | 90м";
    position: absolute; 
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}


.animation_movie::before {
    content: '"Мультфильм"';
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.animation_movie::after {
    content: "Мультфильм | 150м";
    position: absolute; 
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.anime_movie::before {
    content: '"Аниме"';
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.anime_movie::after {
    content: "Аниме | Все серии";
    position: absolute; 
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.card {
    position: relative;
    scroll-margin-top: 80px;
    background: rgb(31, 31, 31);
    margin-bottom: 28px;
    margin-top: 24px;
    text-align: center;
    font-size: 34px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}
.card::before{
  filter: blur(2rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.scroll_track {
  position: relative;
  width: calc(125px * 16 + 100%); /* adjust for padding room */
  height: 100%;
}


.scroll_menu {
  width: 90%;
  max-width: 2000px;
  margin-inline: auto;
  position: relative;
  height: 350px;
  overflow-x: hidden;
  overflow-y: visible;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.movie_scroll {
  width: 190px;
  height: 290px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  top: 30px;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  transform-origin: center center;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.movie_scroll.active {
  transform: scale(1.05);
  
}

.movie_scroll::before {
    content: '"Боевик"';
    position: absolute;
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}

.movie_scroll::after {
    content: "Экшн | 120м";
    position: absolute; 
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    background-color: #1d1d1dce;
    color: white;
    font-size: 18px;
    z-index: 2;
}


.movie_scroll1 {
  animation-delay: calc(60s / 16 * (16 - 1) * -1);
}

.movie_scroll2 {
  animation-delay: calc(60s / 16 * (16 - 2) * -1);
}

.movie_scroll3 {
  animation-delay: calc(60s / 16 * (16 - 3) * -1);
}

.movie_scroll4 {
  animation-delay: calc(60s / 16 * (16 - 4) * -1);
}

.movie_scroll5 {
  animation-delay: calc(60s / 16 * (16 - 5) * -1);
}

.movie_scroll6 {
  animation-delay: calc(60s / 16 * (16 - 6) * -1);
}

.movie_scroll7 {
  animation-delay: calc(60s / 16 * (16 - 7) * -1);
}

.movie_scroll8 {
  animation-delay: calc(60s / 16 * (16 - 8) * -1);
}


.movie_scroll9 {
  animation-delay: calc(60s / 16 * (16 - 9) * -1);
}

.movie_scroll10 {
  animation-delay: calc(60s / 16 * (16 - 10) * -1);
}

.movie_scroll11 {
  animation-delay: calc(60s / 16 * (16 - 11) * -1);
}

.movie_scroll12 {
  animation-delay: calc(60s / 16 * (16 - 12) * -1);
}

.movie_scroll13 {
  animation-delay: calc(60s / 16 * (16 - 13) * -1);
}

.movie_scroll14 {
  animation-delay: calc(60s / 16 * (16 - 14) * -1);
}

.movie_scroll15 {
  animation-delay: calc(60s / 16 * (16 - 15) * -1);
}

.movie_scroll16 {
  animation-delay: calc(60s / 16 * (16 - 16) * -1);
}

.cars1_scroll {
  background-image: url("./Images_Material/Cars.1.png");
  background-position: center center; 
  background-repeat: no-repeat;     
  background-size: contain;    
}

.cars1_scroll::before {
    content: '"Тачки 1"';
}

.cars1_scroll::after {
    content: "Мультфильм | 117м \A| 2006 год";
    white-space: pre-wrap;
    
}

.cars2_scroll {
  background-image: url("./Images_Material/Cars.2.png");
  background-position: center center; 
  background-repeat: no-repeat;     
  background-size: cover;
}

.cars2_scroll::before {
    content: '"Тачки 2"';
}

.cars2_scroll::after {
    content: "Мультфильм | 106м \A| 2011 год";
    white-space: pre-wrap;
}

.cars3_scroll {
  background-image: url("./Images_Material/Cars.3.png");
  background-position: center center; 
  background-repeat: no-repeat;     
  background-size: cover;
}

.cars3_scroll::before {
    content: '"Тачки 3"';
}

.cars3_scroll::after {
    content: "Мультфильм | 109м \A| 2017 год";
    white-space: pre-wrap;
}




.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: rgb(31, 31, 31);
    width: 100%;
    height: 75px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
}

.footer p {
    font-weight: 600;
    color: white;
    
}

.github {
    color: white;
}

/* .cursor_effect {
    position: fixed;
    width: 400px;
    height: 400px;
    pointer-events: none;
    z-index: -2; 
    background: radial-gradient(circle, rgba(110, 178, 255, 0.225) 0%, transparent 60%);
    transform: translate(-50%, -50%);
    transition: top 0.1s linear, left 0.1s linear;
    will-change: top, left; 
} */

.title {
    position: relative;
    margin-top: 95px;
    margin-left: min(24px);
    color: white;
    padding: 18px;
    font-size: 12px;
}

.title p {
    margin-top: 12px;
    color: rgb(202, 202, 202);
    margin-bottom: 12px;
}

.title a {
    color: rgb(202, 202, 202);
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.logo_title2 {
    font-weight: 800;
    animation-name: color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #ff00ff; /* starting color fallback */
}

@keyframes color {
    0%   { color: #ff00ff; } /* magenta */
    25%  { color: #00ffff; } /* cyan */
    50%  { color: #00ff00; } /* lime */
    75%  { color: #ffff00; } /* yellow */
    100% { color: #ff00ff; } /* magenta again */
}


.arrow_up {
    position: fixed;
    background-color: #1b1b1b;
    padding: 12px;
    border-radius: 12px;
    bottom: 95px;
    right: 35px;
    z-index: 8;
    border: 1.5px solid whitesmoke;
}

.arrow_up:hover {
    background-color: #3b3b3b;
}

.arrow_up {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.arrow_up.show {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 900px) {
  .nav_links {
    display: none;
  }

  .menu {
    display: block;
  }

  .movie {
    height: 425px;
  }

  .scroll_track {
    position: relative;
    width: calc(175px * 16 + 100%); /* adjust for padding room */
    height: 100%;
}
}